<%- include('../layouts/main'); %>
<div class="container">
    <h1>Edit Task <%=task.title%></h1>
    <form action="/tasks/edit/:id" method="post">
        <div class="form-control">
            <label for="title">Title</label>
            <input type="text" name="title" placeholder="O que vc vai fazer ?" value="<%=task.title%>">
        </div>
        <div class="form-control">
            <label for="description">description</label>
            <textarea name="description" id="" placeholder="descreva a tarefa..."><%=task.description%></textarea>
        </div>
        <input type="hidden" name="id" value="<%=task.id%>">
        <input type="submit" value="Editar">
    </form>
</div>
